@font-face {
    font-family: '';
    src: url('NotoSerifJP-Medium-Alphabetic.woff2') format('woff2'),
        url('NotoSerifJP-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-Regular-Alphabetic.woff2') format('woff2'),
        url('NotoSerifJP-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

