.sc{
  &__header{
      padding: 100px 0 100px;
  }
  &__title{
      font-size: 87px;
      font-family: 'EB Garamond';
      font-weight: 400;
      color: rgba(208, 182, 131, .5);
      letter-spacing: 5px;
  }
  &__sub{
      font-size: 31px;
      font-weight: 700;
      letter-spacing: 10px;
      font-family: 'Noto Serif JP', serif;
  }
  @media (max-width:1599px){
      &__header{
          padding: 80px 0 80px;
      }
      &__title{
          font-size: 60px;
      }
      &__sub{
          font-size: 22px;
      }
  }
  @media (max-width:1299px){
      &__title {
          font-size: 50px;
      }
      &__sub {
          font-size: 20px;
      }
  }
  @media ( max-width: 991px ) {
      &__title {
          font-size: 45px;
      }
  }
  @media ( max-width: 767px ) {
      &__sub {
          font-size: 18px;
      }
  }
  @media ( max-width: 543px ) {
      &__title {
          font-size: 40px;
      }
      &__sub {
          letter-spacing: 8px;
          font-size: 18px;
      }
  }
}

.home-slider{
    position: relative;
    overflow-x: clip;
    .dn__slider{
      &::before{
        content: "";
        background-image: url(../img/home-slider-ictop.png);
        background-repeat-x: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 31%;
        height: 440px;
        pointer-events: none;
      }
      &::after{
        content: "";
        background-image: url(../img/home-slider-icbottom.png);
        background-repeat-x: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        position: absolute;
        bottom: -180px;
        right: 0;
        z-index: 1;
        width: 47%;
        height: 580px;
        pointer-events: none;
      }
      &:not(.flickity-enabled) .slider__item + .slider__item{display:none}
    }
    .slider__item{
      position:relative;width:100%;

    }
    .dnfix__thumb{
      padding-top:51%;display:block;min-height:220px;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        background: rgb(198,175,150);
      }
    }

    .static-banner {
      position: absolute;
      z-index: 1;
      padding: 2px 20px;
      font-size: 26px;
      color: white;
      pointer-events: none;
      
    }

    .el{
      &__wrapper{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      &__box{
          text-align: center;
          margin-bottom: 140px;
      }
      &__title{
          font-family: 'EB Garamond';
          font-weight: 500;
          font-size: 57px;
          letter-spacing: 10px;
          color: #fff;
          margin-bottom: 15px;
          text-shadow: 0 0 6px rgba(0, 0, 0, .4 );
      }
      &__img{
          margin-bottom: 15px;
      }
      &__sub{
        font-size: 30px;
        font-weight: 500;
        color: #fff;
        font-family: 'Noto Serif JP', serif;
        text-shadow: 0 0 6px rgba(0, 0, 0, .8 );
        letter-spacing: 3px;
      }
    }
    @media (max-width:1599px){
      .el{
        &__title {
          font-size: 46px;
        }
        &__sub{
          font-size: 26px;
        }
      }
    }
    @media (max-width:1299px){
       .el__title {
        font-size: 32px;
        letter-spacing: 5px;
      }
      .el__title {
        font-size: 32px;
        letter-spacing: 4px;
      }
      .el__img{
        img{
          max-height:100px
        }
      }
    }
    @media (max-width:1199px){
      .dn__slider::after {
        height: 380px;
        bottom: -100px;
      }
    }
    @media (max-width:991px){
      .dn__slider::after {
        height: 250px;
        bottom: -100px;
      }
      .el__box {
        text-align: center;
        margin-bottom: 0;
      }
    }
    @media (max-width:767px){
      
      .el__title {
        font-size: 30px;
        letter-spacing: 2px;
      }
      .el__sub {
        font-size: 18px;
      }
    }
    @media (max-width:575px){
      .dn__slider::before {
        width: 100%;
        height: 140px;
      }
      .dn__slider::after {
        width: 100%;
        height: 230px;
      }
      .dnfix__thumb{
        padding-top: 120%;
      }
      .el__title {
        font-size: 34px;
        letter-spacing: 2px;
      }
    }
    @media (max-width:414px){
      .dnfix__thumb{
        padding-top: 150%;
      }
    }
}

/*Effect*/
[data-animate]{will-change:filter,transform,opacity;-webkit-backface-visibility:hidden;animation-fill-mode:forwards;opacity:1!important;transition:filter 1.3s,transform 1.6s,opacity 0.7s ease-in}
.slider .is-selected [data-animated="true"]{animation-delay:2s;transform:translate3d(0,0,0) scale(1.2);opacity:1!important;transition: transform 10s ease-in-out;}
.flickity-slider>*:not(.is-selected) [data-animated="true"]{transition:opacity 0.3s!important}
.slider [data-animate="none"]{opacity:1!important}
[data-animated="false"]{transition:none!important}


.schedule {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  right: 0;
  max-width: 475px;
  padding: 10px 25px;
  background: rgba(105, 92, 85, .8);
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Noto Sans JP', sans-serif;
  &.-st2{
    position: relative;
    bottom: 0;
    padding: 0;
    margin-bottom: 60px;
    margin-left: auto;
    background-color: transparent;
    color: #524945;
    .table-schedule{
        thead th {
            border-bottom: 1px solid #BAB6B4;
        }
        tbody tr {
            border-bottom: 1px solid #BAB6B4;
        }
        tbody td {
            font-size: 13px;
            color: $color_primary;
        }
    }
  }
  &.-st3{
    position: relative;
    bottom: 0;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    color: #524945;
    width: 100%;
    max-width: 100%;
    .table-schedule{
        thead th {
            border-bottom: 1px solid #BAB6B4;
        }
        tbody tr {
            border-bottom: 1px solid #BAB6B4;
        }
        tbody td {
            font-size: 13px;
            color: $color_primary;
        }
    }
  }
  .table-schedule {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 0;
    thead {
      // font-size: 13px;
      th {
        border-bottom: 1px solid #fff;
        &:first-child {
          min-width: 115px;
          letter-spacing: 8px;
        }
      }
    }
    th, td {
      text-align: center;
      vertical-align: middle;
      padding: 5px 11px;
      min-width: 30px;
      border-right: 0;
      font-weight: 400;
    }
    tbody {
      tr {
        border-bottom: 1px solid #fff;
        td{
          font-size: 13px;
        }
      }
    }
  }

  @media ( min-width: 1200px ) {
    &.-st2{
      .table-schedule th, .table-schedule td {
          padding: 5px 13px;
      }
    }
  }
  @media (max-width:1599px){
    bottom: 20px;
  }
  @media (max-width:1299px){
    .table-schedule th,.table-schedule td {
      padding: 5px 5px;
    }
  }
  @media (max-width:1199px){
    &.-st2 {
      font-size: 13px;
      .table-schedule th, .table-schedule td {
        padding: 5px 8px;
      }
    }
  }
  @media (max-width:991px){
    &.-st1{
      position: relative;
      bottom: 0;
      margin: 15px auto 15px;
    }
  }
  @media (max-width:767px){
    padding: 10px 10px;
    &.-st3 {
      font-size: 14px;
    }
    &.-st1 {
      .schedule {
        display: none;
      }
    }
  }
  @media (max-width:699px){
    &.-st2 {
      margin: 30px auto 30px;
    }
  }
  @media (max-width:575px){
    .table-schedule th, .table-schedule td {
        padding: 5px 5px;
        min-width: 24px;
    }
    &.-st2 {
      font-size: 13px;
    }
  }
  @media (max-width:375px){
    .table-schedule thead th:first-child {
      min-width: 108px;
      letter-spacing: 6px;
    }
  }
}

.home-banner-contact{
  position: relative;
  padding: 50px 0;
  background-color: #F7F6F2;
  .el{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    &__thumb{
      
    }
    &__btn{
      position: relative;
      display: inline-block;
      min-width: 200px;
      padding: 6px 5px 6px;
      font-size: 20px;
      color: #fff;
      background-color: $color_primary;
      border-radius: 30px;
      text-align: center;
      letter-spacing: 2px;
      line-height: 1.4;
      transition: all 1s;
      overflow: hidden;
      font-family: 'Noto Serif JP', serif;
      span{
        position: relative;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 2s all cubic-bezier(0.19, 1, 0.22, 1);
        top: 0;
        left: 0;
        transform: rotate(45deg);
        background: #fff;
      }
      &:hover{
        border-color: #6584C4;
        color: #fff;
        &::before {
          opacity: 1;
          transform: scale(2) rotate(0deg);
          background: #6584C4;
        }
      }
    }
    &__text{
      font-size: 15px;
      letter-spacing: 2px;
      text-align: center;
    }
    &__tel{
      display: block;
      font-family: 'EB Garamond';
      font-size: 38px;
      text-align: center;
      letter-spacing: 4px;
      line-height: 1;
      color: #524945;
    }
  }
  @media (max-width:1299px){
    .el {
      max-width: 950px;
      margin: auto;
    }
    .el__thumb {
      max-width: 300px;
    }
    .el__text {
      font-size: 14px;
    }
    .el__tel {
      font-size: 34px;
    }
  }
  @media (max-width:991px){
    .el{
      max-width: 600px;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;
      &__thumb {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 0 auto 5px;
      }
      &__btn {
        margin-top: 15px;
      }
    }
  }
  @media (max-width:767px){
    .el__tel {
      margin: 15px 0 10px;
    }
  }
}

.home-banner-imgtext{
  background-color: #F8F6F3;
  padding: 10px 0 130px;
  .el{
    position: relative;
    border: 1px solid #ccc;
    padding: 30px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 10px;
      letter-spacing: 2px;
      font-family: 'Noto Serif JP', serif;
    }
    &__sub{
      font-size: 15px;
      letter-spacing: 2px;
    }
    &__a{
      position: absolute;
      top: 50%;
      right: 40px;
      font-size: 6px;
      color: $color_primary;
    }
  }
  @media (max-width:1599px){
      padding: 10px 0 100px;
      .el__title {
        font-size: 26px;
      }
      .el__sub {
        font-size: 14px;
      }
  }
  @media (max-width:1299px){
    .el__title {
      font-size: 24px;
    }
  }
  @media (max-width:991px){
    .el {
      padding: 30px 15px 15px;
      &__title {
        font-size: 22px;
      }
      &__a {
        position: relative;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
      }
    }
  }
  @media (max-width:575px){
    .el__title {
      font-size: 20px;
    }
  }
}

.home-message{
  position: relative;
  overflow-x: clip;
  &::before{
    content: "";
    background-image: url(../img/sc-message-top.png);
    background-repeat-x: no-repeat;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    position: absolute;
    top: -100px;
    right: 0;
    z-index: 1;
    width: 24%;
    height: 100%;
  }
  .el--active{
    .el__box{
      &:before{
        width: 30%;
        height: 60%;
        transition: all 4s;
      }
      &:after{
        width: 20%;
        height: 60%;
        transition: all 4s;
      }
    }
  }

  .el{
    &__thumb{
      position: absolute;
      top: -20px;
      left: 0;
      width: 52%;
    }
    &__right{
      position: relative;
      z-index: 1;
      padding: 110px 0 110px;
    }
    
    &__box{
      position: relative;
      padding: 90px 70px 40px 90px;
      font-size: 17px;
      letter-spacing: 2px;
      line-height: 1.9;
      // &:hover:before{
      //   width: 34%;
      //   height: 74%;
      //   transition: all .5s;
      // }
      // &:hover:after{
      //   width: 27%;
      //   height: 74%;
      //   transition: all .5s;
      // }
      &:before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        z-index: 1;
        border-bottom: 1px solid #F4D181;
        border-left: 1px solid #F4D181;
      }
      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        z-index: 1;
        border-top: 1px solid #F4D181;
        border-right: 1px solid #F4D181;
        border-width: 1px;
      }
      p{
        margin-bottom: 30px;
      }
    }
    &__title{
      font-size: 41px;
      font-weight: 500;
      margin-bottom: 30px;
      letter-spacing: 4px;
      font-family: 'Noto Serif JP', serif;
      &.-big{
        font-family: 'EB Garamond';
        font-size: 144px;
        line-height: normal;
        color: rgba(237, 193, 105, .35);
        margin-bottom: 30px;
        margin-top: -205px;
        margin-left: -120px;
        letter-spacing: 10px;
        font-weight: 400;
      }
    }
    
    
  }

  @media (max-width:1599px){
    .el__title{
      font-size: 34px;
      &.-big {
        margin-top: -185px;
        font-size: 120px;
      }
    }
  }
  @media (max-width:1399px){
    .el__box {
      padding: 80px 60px 40px 60px;
      p{
        margin-bottom: 15px;
      }
    }
    .el__title{
      font-size: 32px;
      &.-big {
        margin-top: -170px;
        font-size: 100px;
      }
    }
  }
  @media (max-width:1299px){
    .el__right {
      padding: 90px 0 90px;
    } 
    .el__box {
      padding: 60px 40px 40px 30px;
    }
    .el__thumb {
      width: 51%;
    }
    .el__title.-big {
      margin-top: -120px;
      margin-left: -60px;
      font-size: 80px;
    }
    .el__title {
      font-size: 24px;
    }
  }
  @media (max-width:991px){
    .container-md{
      max-width: 100%;
      padding: 0;
    }
    .col--right {
      width: 100%;
    }
    .el__thumb {
      position: relative;
      top: -30px;
      width: 60%;
    }
    .el__box {
      padding: 60px 40px 20px 30px;
      line-height: 1.8;
    }
    .el__right {
      margin-top: -90px;
      padding: 50px 50px;
    }
    .el__title{
      &.-big {
        margin-top: -115px;
        margin-left: -50px;
      }
    }
  }
  @media (max-width:767px){
    .el__thumb {
      width: 80%;
    }
    .el__right {
      padding: 60px 25px;
    }
    .el__title{
      &.-big {
        font-size: 70px;
      }
    }
  }
  @media (max-width:534px){
    .el__box {
      padding: 60px 20px 20px;
      font-size: 16px;
    }
    .el__title {
      &.-big {
        margin-left: -30px;
      }
    }
  }
  @media (max-width:399px){
    .el--active .el__box:after {
      width: 10%;
    } 
  }

}

.home-recommended{
  position: relative;
  padding-bottom: 120px;
  background-color:#F7F6F2;
  overflow: hidden;
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 32.6%;
    height: 100%;
    z-index: 1;
    background-image: url('../img/recommended-icleft.png');
    background-repeat-x: no-repeat;
    background-position: top left;
    background-size: contain;
    pointer-events: none;
  }
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 28.4%;
    height: 100%;
    z-index: 1;
    background-image: url('../img/recommended-icright.png');
    background-repeat-x: no-repeat;
    background-position: top right;
    background-size: contain;
    pointer-events: none;
  }

  .sc{
    &__header{
      background-color: #EDE7E1;
    }
    &__content{
      padding-bottom: 70px;
    }
  }
  .sc2{
    &__header{
      margin-bottom: 50px;
      text-align: center;
      &.el--active{
        .sc2__title::after{
          width: 100%;
        }
      }
    }
    &__title{
      display: inline-block;
      font-size: 40px;
      font-family: 'Noto Serif JP', serif;
      font-weight: 700;
      color: #695C55;
      letter-spacing: 8px;
      margin-bottom: 30px;
      &::after{
        content: "";
        width: 0%;
        height: 1px;
        background-color: #C4A464;
        display: block;
        margin: 10px auto 0;
        transition: width 1.5s;
      }
    }
    &__sub{
      font-size: 14px;
      letter-spacing: 2px;
      padding: 0 20px;
    }
  }
  .el{
    &__item{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 80px;
      &:nth-child(2n){
        .el__meta{
          padding: 60px 50px 15px 0;
        }
      }
    }
    &__meta{
      padding: 60px 0 15px 50px;
      &.el--active{
        .el__title::after{
          width: 100%;
        }
      }
    }
    &__title{
      position: relative;
      display: inline-block;
      font-size: 40px;
      font-weight: 700;
      color: #695C55;
      letter-spacing: 8px;
      margin-bottom: 35px;
      font-family: 'Noto Serif JP', serif;
      &::after{
        content: "";
        width: 0;
        height: 1px;
        background-color: #C4A464;
        display: block;
        transition: all 3s;
        margin: 10px auto 0;
      }
    }
    &__sub{
      display: block;
      font-size: 30px;
      margin-bottom: 25px;
      font-weight: 400;
      letter-spacing: 2px;
      color: #524945;
      font-family: 'Noto Serif JP', serif;
    }
    &__excerpt{
      font-size: 17px;
      margin-bottom: 30px;
      letter-spacing: 2px;
    }
   
  }
  .el2{
    &__item{
      margin-bottom: 50px;
    }
    &__meta{
      padding: 30px 50px 30px;
    }
    &__title{
      position: relative;
      font-size: 30px;
      font-weight: 500;
      color: #6484C4;
      letter-spacing: 2px;
      margin-bottom: 20px;
      text-align: center;
      font-family: 'Noto Serif JP', serif;
      a{
        color: #6484C4;
      }
      &:hover{
        .el2__icon{
          background-color: #524945;
          color: #fff;
        }
      }
    }
    &__excerpt{
      font-size: 17px;
      letter-spacing: 2px;
    }
    &__icon{
      position: absolute;
      top: -8px;
      right: -20px;
      width: 55px;
      height: 55px;
      font-size: 4.4px;
      padding-left: 5px;
      border: 1px solid #524945;
      color: #524945;
      border-radius: 50%;
      text-align: center;
      line-height: 55px;
      transition:all 1s;
    }
  }
  @media (max-width:1599px){

    padding-bottom: 70px;

    .el__item:nth-child(2n) .el__meta {
      padding: 40px 30px 15px 15px;
    }
    .el__meta {
      padding: 40px 15px 15px 30px;
    }
    .el__title {
      font-size: 32px;
      margin-bottom: 25px;
    }
    .el__sub {
      font-size: 28px;
    }
    .el__excerpt {
      font-size: 16px;
      margin-bottom: 20px;
   }
  }
  @media (max-width:1299px){
    .col--right{
      width: 58.33333333%;
    }
    .el__item:nth-child(2n) .el__meta {
      margin-left:auto;
    }
    .el__meta{
      max-width: 540px;
    }
  }
  @media (max-width:991px){
    padding-bottom: 30px;
    .sc__content {
      padding-bottom: 30px;
    }
    .el__item {
      margin-bottom: 50px;
    }
    .el__title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .el__sub {
      font-size: 26px;
    }
    .sc2__title {
      font-size: 30px;
    }
    .el2__item {
      margin-bottom: 20px;
    }
    .el2__meta {
      padding: 30px 15px 30px;
    }
    .el2__title {
      font-size: 24px;
    }
    .el2__icon {
      width: 35px;
      height: 35px;
      line-height: 32px;
    }
    .el2__excerpt {
      font-size: 16px;
    }
  }
  @media (max-width:767px){
    .el__item:nth-child(2n) .el__meta {
      padding: 30px 20px;
    }
    .el2__item {
      padding: 0 20px;
    }
    .el2__meta {
      padding: 30px 0 30px;
    }
    .el__meta {
      max-width: 100%;
      padding: 30px 20px;
    }
    .sc__content2{
      padding: 0;
    }
    .col--left, .col--right{
      width: 100%;
      text-align: center;
    }
  }
  @media (max-width:575px){
    .sc__title {
      font-size: 32px;
    }
    .sc2__title {
      font-size: 28px;
    }
    .el2__icon {
      right: 0;
    }
    .sc__content {
      padding-bottom: 0;
    }
    .el__sub {
      font-size: 20px;
      text-align: left;
    }
    .el__excerpt {
      text-align: left;
    }
  }
}

.home-service{
  padding-top: 50px;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .sc{
    &__title{
      color: rgba(131, 157, 208,.8);
    }
  }
  .el{
    &__content{
      padding-bottom: 50px;
    }
    &__col{
      display: flex;
    }
    &__item{
      position: relative;
      margin-bottom: 30px;
      background-size: cover;
      color: #fff;
      &:hover{
        .el__meta{
          background-color: transparent;
          color: #524945;
        }
        .el__readmore{
          color: #524945;
        }
      }
      
    }
    &__meta{
      padding: 50px 50px;
      background-color: rgba(97, 90, 83, .4);
      transition: all 1s;
      height: 100%;
    }
    &__title{
      font-size: 35px;
      letter-spacing: 4px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 15px;
      font-family: 'Noto Serif JP', serif;
    }
    &__excerpt{
      font-size: 17px;
      line-height: 1.7;
      letter-spacing: 2px;
      min-height: 102px;
    }
    &__readmore {
      position: absolute;
      bottom: 0;
      right: 15px;
      font-size: 10px;
      color: #ffffff;
      line-height: 55px;
    }
    &__list{
      padding-bottom: 40px;
      &.-medium{
        display: flex;
        justify-content: center;
        margin-left: -20px;
        margin-right: -20px;
        li{
          min-width: 295px;
          padding: 0 20px;
        }
        a{
          width: 100%;
          color: #524945;
          padding: 20px ​45px;
          border-radius: 55px;
          font-size: 20px;
          background-color: #F7F6F2;
          margin: 0 0 0;
          border-color: #524945;
          &:hover{
            background-color: #524945;
            border-color: #524945;
            color: #fff;
          }
          
          &::after{
            right: 20px;
          }
        }
      }
      a{
        position: relative;
        display: block;
        padding: 22px 50px;
        text-align: center;
        border: 1px solid $color_primary;
        border-radius: 70px;
        color: #fff;
        background-color: $color_primary;
        margin-bottom: 40px;
        font-size: 22px;
        letter-spacing: 4px;
        line-height: 1.2;
        transition: all 1s;
        font-family: 'Noto Serif JP', serif;
        &:hover{
          background-color: #fff;
          color: $color_primary;
        }
        &::after{
          content: "\e901";
          font-family: 'icomoon';
          font-size: 4.4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
        }
      }
    }
  }
  @media (max-width:1599px){
    padding-top: 0;
    padding-bottom: 60px;
    .el__list a {
      margin-bottom: 30px;
      font-size: 20px;
    }
    .el__meta {
      padding: 40px 50px;
    }
    .el__title {
      font-size: 32px;
    }
    .el__excerpt {
      font-size: 16px;
      min-height: 81px;
    }
  }
  @media (max-width:1299px){
    .el__list a::after {
      right: 20px;
    }
    .el__list.-medium a {
      padding: 11px ​45px;
      font-size: 18px;
    }
    .el__list a {
      font-size: 18px;
      padding: 14px 40px 13px 25px;
    }
  }
  @media (max-width:991px){
    padding-bottom: 30px;
    .el__meta {
      padding: 40px 30px;
    }
    .el__title {
      font-size: 26px;
    }
  }
  @media (max-width:767px){
    .el__list{
      a {
        padding: 14px 40px 13px 20px;
      }
      &.-medium{
        --bs-gutter-x: 1.5rem;
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
        li {
          padding-right: calc(var(--bs-gutter-x) * .5);
          padding-left: calc(var(--bs-gutter-x) * .5);
        }
      } 
    }
    .el__readmore {
      font-size: 7px;
    }
  }
  @media (max-width:575px){
    .el__meta {
      padding: 30px 25px;
    }
    .el__title {
      font-size: 22px;
    }
    .el__excerpt {
      font-size: 15px;
      line-height: 1.6;
      min-height: auto;
    }
    .el__content {
      padding-bottom: 20px;
    } 
    .el__list{
      padding-bottom: 10px;
      --bs-gutter-x: .8rem;
      &.-medium{
        li {
          min-width: 50%;
          a{
            padding: 11px 30px 11px 25px;
            font-size: 16px;
          }
          &::after {
            right: 10px;
          }
        }
      }
      a{
        padding: 12px 28px 12px 5px;
        font-size: 14px;
        margin-bottom: 20px;
        &::after {
          right: 10px;
        }
      }
    }
  }
  
}

.home-features{
  background-color: #F7F6F2;
  padding-top: 30px;
  padding-bottom: 200px;
  overflow: hidden;
  .el{
    &__meta{
      position: relative;
      z-index: 1;
      height: 100%;
      padding: 50px;
      background-color: #fff;
    }
    &__number{
      font-family: 'EB Garamond';
      font-size: 125px;
      line-height: 1;
      color: #EADFC9;
      margin-bottom: 25px;
    }
    &__title{
      font-size: 33px;
      margin-bottom: 50px;
      letter-spacing: 4px;
      font-family: 'Noto Serif JP', serif;
    }
    &__excerpt{
      font-size: 17px;
      margin-bottom: 50px;
      letter-spacing: 4px;
    }
    &__banner__thumb{
      .dnfix__thumb{
        padding-top: 17%;
      }
    }
  }
  @media (max-width:1599px){
    padding-top: 0;
    padding-bottom: 100px;
    .el__number {
      font-size: 90px;
      margin-bottom: 30px;
    }
    .el__title {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }
  @media (max-width:1299px){
    .el__number {
      font-size: 80px;
      margin-bottom: 10px;
    }
    .el__meta {
      padding: 30px 30px;
    }
    .el__title {
      font-size: 25px;
      margin-bottom:20px
    }
    .el__excerpt {
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: 2px;
      line-height: 1.7;
    }
  }
  @media (max-width:991px){
    .container{
      max-width: 100%;
    }
  }
  @media (max-width:767px){
    .container{
      padding: 0;
    }
    .el__thumb{
      margin-bottom: -80px;
    }
    .el__meta{
      width: 86%;
      margin-left: auto;
      padding: 25px 25px;
    }
  }
  @media (max-width:575px){
    .el__number {
      font-size: 70px;
    }
    .el__title {
      font-size: 22px;
    }
    .el__banner__thumb .dnfix__thumb {
      padding-top: 35%;
    }
  }
}

.home-greeting{
  position: relative;
  padding-top: 50px;
  padding-bottom: 150px;
  overflow: hidden;
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 26%;
    height: 100%;
    z-index: 1;
    background-image: url('../img/greeting-left.png');
    background-repeat-x: no-repeat;
    background-position: top left;
    background-size: contain;
    pointer-events: none;
  }
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 21%;
    height: 100%;
    z-index: 1;
    background-image: url('../img/greeting-right.png');
    background-repeat-x: no-repeat;
    background-position: top right;
    background-size: contain;
    pointer-events: none;
  }
  .row{
    --bs-gutter-x: 2rem;
  }
  .el{
    &__thumb{
      .dnfix__thumb{
        padding-top: 120%;
      }
    }
    &__title{
      font-size: 38px;
      line-height: 1.8;
      font-weight: 500;
      margin-bottom: 50px;
      letter-spacing: 6px;
      font-family: 'Noto Serif JP', serif;
    }
    &__excerpt{
      font-size: 17px;
      letter-spacing: 2px;
      p{
        margin-bottom: 40px;
      }
    }
    &__ruby{
      font-size: 22px;
      font-weight: 500;
      text-align: right;
      color: #695C55;
      letter-spacing: 8px;
      font-family: 'Noto Serif JP', serif;
      span{
        margin-right: 25px;
      }
      ruby {
        display: inline-flex;
        flex-direction: column-reverse;
        margin-right: 15px;
        font-size: 30px;
        line-height: 1;
      }
      rt{
        font-size: 14px;
        margin-bottom: 5px;
        letter-spacing: 0px!important;
      }
      rb, rt {
        display: inline;
        line-height: 1;
      }
    }
  }

  .el2{
    &__item{
      width: 61%;
      padding: 50px 40px 50px 50px;
      background-color: #C9D4EA;
      margin-top: -2%;
      margin-bottom: 150px;
    }
    &__title{
      font-family: 'EB Garamond';
      font-size: 27px;
      color: #fff;
      margin-bottom: 25px;
      letter-spacing: 7px;
    }
    &__excerpt{
      font-size: 17px;
      color: #524945;
      letter-spacing: 2px;
    }
  }
  
  &-gallery{
    position: relative;
    padding-bottom: 120px;
    z-index: 2;
    .marquee {
      width: 100%;
      overflow: hidden;
    }
    .el{
      &__wrap{
        display: flex;
        justify-content: flex-end;
      }
      &__box{
        position: absolute;
        max-width: 640px;
        top: -50px;
        min-width: 350px;
        padding: 100px 50px;
        background-color: rgba(253, 246, 230, .9);
        &.el--active{
          .el__title::after{
            width: 100%;
          }
        }
      }
      &__title{
        position: relative;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
        &::after {
          content: "";
          width: 0;
          height: 1px;
          background-color: #C4A464;
          display: block;
          margin: 10px auto 0;
          transition: width 1.5s;
        }
      }
      &__excerpt{
        letter-spacing: 2px;
        margin-bottom: 40px;
        line-height: 1.9;
      }
    }
  }
  &-video {
    width: 660px;
    margin: -20px auto 0;
  }
  @media (max-width:1599px){
    padding-top: 0;
    padding-bottom: 100px;
    .el__title {
      font-size: 34px;
      margin-bottom: 40px;
    }
    .el__excerpt {
      font-size: 16px;
      letter-spacing: 2px;
    }
  }
  @media (max-width:1499px){
    &-gallery {
      .el__box{
        max-width: 580px;
        padding: 40px 40px;
      }
      .el__marquee img{
        max-height:300px
      }
    }
  }
  @media (max-width:1299px){
    .el__title {
      font-size: 28px;
      margin-bottom: 20px;
    }
    .el__excerpt p {
      margin-bottom: 20px;
    }
    .el2__item {
      padding: 50px 30px 40px;
      margin-bottom: 140px;
    }
    .el2__title{
      margin-bottom:15px;
    }

    &-gallery{
      .el__title {
        font-size: 24px;
      }
      .el__excerpt {
        margin-bottom: 30px;
        line-height: 1.8;
      }
    }
    &-video {
      margin: 10px auto 0;
    }
  }
  @media (max-width:991px){
    &:before {
      width: 35%;
    }
    &:after{
      display: none;
    }
    &-gallery{
      .el__title {
        font-size: 20px;
      }
      .el__box {
        max-width: 500px;
        padding: 30px 30px;
      }
      .el__marquee img {
        max-height: 250px;
      }
    }
    .el__title {
      font-size: 25px;
    }
    .el2__item{
      width: 80%;
      margin: 30px 0 100px;
    }
  }
  @media (max-width:767px){
    .el2__item {
      margin: 20px 0 75px;
      padding: 40px 30px 30px;
    }
    &-gallery{
      .el__box {
        width: 80%;
      }
    }
    &-video{
      width: 100%;
    }
    .container{
      padding: 0;
    }
    .el__meta {
      padding: 25px;
    }
    .el__thumb{
      width: 80%;
      margin-left: auto;
      margin-bottom: 0;
    }
  }
  @media (max-width:575px){
    &:before {
      width: 50%;
    }
    &-gallery{
      .el__wrap {
        justify-content: center;
      }
      .el__box {
        position: relative;
      }
      .el__marquee img {
        max-height: 240px;
      }
    }

    .el__ruby span {
      margin-right: 15px;
      font-size: 18px;
    }
    .el__ruby ruby {
      font-size: 24px;
    }
    .el__title {
      font-size: 22px;
    }
    .el2__excerpt {
      font-size: 15px;
    }
  }
}
@keyframes scroll-gallery {
	100% {background-position: -3066px 0;}
}

.home-information{
  padding-bottom: 120px;
  background-color: #F7F6F2;
  overflow: hidden;
  .sc__title{
    font-size: 46px;
    color: rgba(208, 182, 131, .8);
  }
  .el{
    &__box{
      &.el--active{
        .el__header__title::after{
          width: 100%;
        }
      }
    }
    &__header{
      &__title{
        position: relative;
        font-family: 'EB Garamond';
        font-size: 33px;
        margin-bottom: 30px;
        font-weight: 400;

        a{
          color: #746E6A;
        }
        &::after {
          content: "";
          width: 0%;
          height: 1px;
          background-color: $color_primary;
          display: block;
          margin-top: 10px;
          transition: width 1s;
      }
      }
    }
    &__list{
      max-height:226px;
      overflow: auto;
      padding-right: 50px;
      margin-bottom: 50px;
      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 3px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar
      {
        width: 6px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb
      {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $color_primary;
      }
    }
    &__item{
      margin-bottom: 15px;
    }
    &__date{
      font-size: 17px;
      color: $color_primary;
      margin-bottom: 0px;
    }
    &__excerpt{
      font-size: 17px;
      line-height: 1.9;
      letter-spacing: 2px;
      color: #524945;
    }
  }
  .el2{
    &__item{
      position: relative;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'Noto Serif JP', serif;
      a{
        color: #fff;
      }
      img{
        -webkit-transform:scale(1);transform:scale(1);-webkit-transition:1s ease-in-out;transition:1s ease-in-out;
      }
      &:hover{
        .el2__meta{
          background-color: rgba(11, 43, 106, .7);
          &.-s2{
            background-color: rgba(137, 103, 26, .7);
          }
        }
        img{
          -webkit-transform:scale(1.1);transform:scale(1.1)
        }
      }
    }
    &__thumb{
      position: relative;
      padding-top: 30%;
    }
    &__meta{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 30px 30px;
      background-color: rgba(100, 132, 196, .7);
      transition: all .2s;
      &.-s2{
        background-color: rgba(244, 209, 129, .7);
      }
    }
    &__title{
      font-size: 35px;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 500;
    }
    &__sub{
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 4px;
    }
  }
  @media (max-width:1599px){
    padding-bottom: 70px;
    .el__list {
      max-height: 210px;
    }
    .el__excerpt {
      font-size: 16px;
    }
    .el2__title {
      font-size: 32px;
    }
    .el2__sub {
      font-size: 22px;
    }
  }
  @media (max-width:1299px){
    .el2__meta {
      padding: 30px 30px 15px;
    }
    .el__list {
      max-height: 194px;
    }
    .el__excerpt {
      font-size: 14px;
    }

  }
  @media (max-width:991px){
    padding-bottom: 50px;
    .el2__meta {
      padding: 20px 30px 15px;
    }
    .el2__title {
      font-size: 28px;
      letter-spacing: 2px;
      margin-bottom: 0;
    }
    .el2__sub {
      font-size: 20px;
    }
  }
  @media (max-width:575px){
    .sc__title{
      font-size: 32px;
    }
    .el__header__title {
      font-size: 26px;
    }

  }
}

.home-outline{
  position: relative;
  padding: 70px 0;
  background-color: #DCD0C4;
  overflow: hidden;
  .el{
    &__header__title{
      font-size: 36px;
      text-transform: uppercase;
      font-family: 'EB Garamond';
      color: #746E6A;
      letter-spacing: 4px;
      font-weight: 400;
    }
    &__list{
      margin-bottom: 80px;
      li{
        display: flex;
        padding: 15px 10px 10px;
        border-bottom: 1px solid #A8A4A2;
        font-size: 17px;
        letter-spacing: 2px;
      }
    }
    &__label{
      flex: 0 0 auto;
      width: 100px;
      margin-right: 40px;
    }
    &__value{
      flex-grow: 1;
      color: #524945;
    }
    &__listbtn{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -15px;
      margin-right: -15px;
      li{
        padding: 0 15px;
        margin-bottom: 15px;
        .dnselect__content.show {
          margin-bottom: 15px;
        }
      }
      &__content {
        display: none;
        max-width: 320px;
        background: #fff;
        border-radius: 5px;
        margin-top: 15px;
        padding: 15px;
        font-size: 15px;
      }
      a{
        border-color: #fff;
        background-color: #fff;
        min-width: 320px;
        transition: all 1s;
        &:hover{
          background-color: #524945;
          border-color: #524945;
          color: #fff;
        }
        &::after{
          content: "\e905";
          margin-top: 1px;
          font-size: 10px;
          right: 20px;
        }
      }
    }
  }
  @media (max-width:1599px){
    .el__list li {
      font-size: 16px;
    }
    .el__listbtn{
      a {
        min-width: 300px;
        font-size: 18px;
      }
      &__content {
        max-width: 300px;
      }
    }
  }
  @media (max-width:1199px){
    .el__listbtn a {
      min-width: 285px;
    }
  }
  @media (max-width:991px){
    .el__listbtn{
      li{
        padding: 0 8px;
      }
      a {
        min-width: 240px;
        font-size: 16px;
      }
    }
  }
  @media (max-width:767px){
    .el__header__title{
      text-align: center;
    }
    .el__label {
      margin-right: 10px;
    }

  }
  @media (max-width:474px){
    .el__label {
      width: 85px;
      margin-right: 10px;
    }
  }
}