$color_primary: #C4A464;
$color_secondary: #FF6B1D;

.color-primary{
    color: $color_primary;
}
.color-secondary{
    color: $color_secondary;
}


@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond/EBGaramond-Regular.woff2') format('woff2'),
        url('../fonts/EBGaramond/EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond/EBGaramond-Medium.woff2') format('woff2'),
        url('../fonts/EBGaramond/EBGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    color:#524945;font:18px/1.8 'Noto Sans JP', sans-serif;
}
ul{list-style:none;padding:0;margin-bottom:0}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{line-height:normal;}
p{
    margin-bottom: 0;
}
a{text-decoration:none;-webkit-transition-duration:0.4s;-o-transition-duration:0.4s;transition-duration:0.4s;}
a:hover{text-decoration:none;}
img{
    max-width: 100%;
}
br{
    &.tb{
        display:none
    }
    @media ( max-width: 991px ) {
        &.pc{
            display: none;
        }
    }
    @media (min-width:768px) and (max-width:1199px){
        &.tb{
            display: block;
        }
    }
    @media ( min-width: 576px ) {
        &.mb{
            display: none;
        }
    }
}

/**/
.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */padding-top:25px;height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed{position:absolute;top:0;left:0;width:100%;height:100%;}
/*Custom boostrap*/
.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width:992px){
    .col-lg-14{
        width: 14%;
    }
    .col-lg-20{
        width: 20%;
    }
    .col-lg-30{
        width: 30%;
    }
    .col-lg-48{
        width: 48%;
    }
    .col-lg-52{
        width: 52%;
    }
    .col-lg-70{
        width: 70%;
    }
    .col-lg-86{
        width: 86%;
    }
    .gx-lg-7{
        --bs-gutter-x: 5rem;
    }
}
@media (min-width: 1200px){
    .container-md {
        max-width: 1540px;
    }
    .container {
        max-width: 1304px;
    }
    .container-1200 {
        max-width: 1224px;
    }
    .container-1024 {
        max-width: 1048px;
    }
    .container-1400 {
        max-width: 1424px;
    }
    .container-sm{
        max-width: 1048px;
    }
}
@media (min-width: 1400px){
    .container-lg-1324 {
        max-width: 1348px;
    }
}

.container-fluid{
    max-width: 1400px;
}
@media (max-width:991px){
    .container, .container-sm, .container-md, .container-lg{
      max-width: 100%;
    }
}
/* Text truncate */
.text__truncate{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.text__truncate.-n2{-webkit-line-clamp:2;}
.text__truncate.-n3{-webkit-line-clamp:3;}
.text__truncate.-n4{-webkit-line-clamp:4;}

/*Effect*/
.ef--zoomin .el__thumb img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.3s ease;transition:.3s ease}
.ef--zoomin:hover .el__thumb img{-webkit-transform:scale(1.1);transform:scale(1.1)}

/*Fix image trong khung*/
.dnfix__thumb{position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;}
.dnfix__thumb img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.dnfix__thumb.-contain img{object-fit:contain;}

/*button*/
.btn{
    font-family: 'Noto Serif JP', serif;
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    padding: 14px 40px;
    border-color: #524945;
    border-radius: 30px;
    min-width: 295px;
    background-color: transparent;
    color: #524945;
    letter-spacing: 2px;
    transition: all 1s;
    overflow: hidden;
    &:hover{
        background-color: #524945;
        border-color: #524945;
        color: #fff;
    }

    &::after {
        // content: "\e901";
        // font-family: 'icomoon';
        // font-size: 4.4px;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        background-image: url(../img/arrow-right-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 16px;
        height: 5px;
    }
    span{
        position: relative;
    }
    &.btn--secondary{
        &::after{
            background-image: url(../img/arrow-right.svg);
        }
        &:hover{
            &::after{
                background-image: url(../img/arrow-right-white.svg);
            }
        }
    }
    
    &--primary{
        color: #fff;
        border-color:$color_primary;
        background-color: $color_primary;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 2s all cubic-bezier(0.19, 1, 0.22, 1);
            top: 0;
            left: 0;
            transform: rotate(45deg);
            background: #fff;
          }
        &:hover{
            border-color: #6584C4;
            color: #fff;
            &::before {
            opacity: 1;
            transform: scale(2) rotate(0deg);
            background: #6584C4;
            }
        }
    }
    @media ( max-width: 1299px ) {
        font-size:16px;
        min-width: 255px;
    }
    @media ( max-width: 575px ) {
        .sc__header {
            padding: 50px 0 50px;
        }
        font-size: 14px;
        min-width: 215px;
        padding: 14px 30px;
    }
}

