.sc-footer{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F8F6F3;
    &__logo{
        margin-bottom: 50px;
    }
    
    .el{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &__col--left{
            padding-right: 80px;
        }
        &__boxinfo{
        }
        &__btn{
          display: inline-block;
          min-width: 310px;
          padding: 6px 5px;
          font-size: 20px;
          color: #fff;
          background-color: $color_primary;
          border-radius: 30px;
          text-align: center;
          letter-spacing: 4px;
          line-height: 1.4;
          font-family: 'Noto Serif JP', serif;
        }
        &__text{
            font-size: 15px;
            letter-spacing: 2px;
        }
        &__tel{
            display: block;
          font-family: 'EB Garamond';
          font-size: 38px;
          letter-spacing: 4px;
          line-height: 1;
          margin-bottom: 20px;
          color: #524945;
        }
      }
    &__map{
        margin-bottom: 30px;
    }

    &__menu{
        margin-bottom: 30px;
        font-size: 18px;
        letter-spacing: 2px;
        font-family: 'Noto Serif JP', serif;
        .sub-menu{
            display: none;
            position: relative;
            margin-top: 15px;
            margin-bottom: 20px;
            padding-left: 15px;
            border-left: 1px solid $color_primary;
            
        }
        li{
            &.js-active{
                .sub-menu{
                    display: block;
                }
            }
            margin-bottom: 10px;
            &.menu-item-has-children{
                >a{
                    position: relative;
                }
            }
            &.active, &:hover{
                &>a{
                    color: $color_primary;
                }
                .togglez{
                    color: $color_primary;
                }
            }
        }
        a{
            color: #524945;
        }
        .togglez {
            border: 0;
            background: transparent;
            font-size: 10px;
            margin-left: 5px;
            position: relative;
            top: -2px;
            color: #524945;
        }
    }

    &__socical{
        font-family: 'Noto Serif JP', serif;
        a{
            display: flex;
            width: 100%;
            max-width: 300px;
            border: 1px solid transparent;
            border-radius: 30px;
            padding: 6px 20px;
            color: #fff;
            background-color: #6484C4;
            margin-bottom: 15px;
            letter-spacing: 4px;
            &:hover{
                background-color: #4467ab;
            }
        }
        span{
            position: relative;
            top: 2px;
            font-size: 20px;
        }
        p{
            flex-grow: 1;
            text-align: center;
        }
        .icon-instagram{
            font-size: 26px;
        }
        .icon-line{
            font-size: 28px;
        }
    }
    @media ( max-width: 1299px ) {
        .el__col--left {
            padding-right: 30px;
        }
    }
    @media ( max-width: 1199px ) {
        padding-top: 50px;
        padding-bottom: 50px;
        .el__col--left {
            padding-right: 0px;
        }
        .el__text {
            font-size: 12px;
        }
        .el__tel {
            font-size: 32px;
        }
        .sc-footer__menu {
            font-size: 16px;
        }
        &__socical{
            a{
                font-size: 13px;
                letter-spacing: 2px;
            }
            span {
                font-size: 15px;
            }
            .icon-instagram {
                font-size: 20px;
            }
            .icon-line {
                font-size: 20px;
            }
        }
    }
    @media ( max-width: 991px ) {
        &__socical{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                min-width: 230px;
                margin-right: 15px;
            }
        }
    }
    @media ( max-width: 767px ) {
        .sc-footer__logo {
            max-width: 80%;
            margin: 0 auto 30px;
        }
        .el__boxinfo {
            justify-content: center;
        }
    }
}
.sc-copyright{
    background-color: #DCD0C4;
    padding: 30px 0 22px;
    font-size: 16px;
    color: #524945;
    text-align: center;
    @media ( max-width: 1199px ) {
        padding: 20px 0 14px;
    }
    @media ( max-width: 991px ) {
        margin-bottom: 71px;
    }
}

.sc-footer__bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    background: rgba(220, 208, 196, .5);
    z-index: 100;
    font-family: 'Noto Serif JP', serif;
    .el__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .el__item{
        width: 100%;
        padding: 10px 10px 2px;
        text-align: center;
        font-size: 15px;
        span{
            display: block;
        }
        .el__icon{
            margin-bottom: 5px;
            color: #695C55;
        }
        &.-phone{
            color: #fff;
            background-color: #6484C4;
            .el__icon{
                font-size: 30px;
                margin-bottom: 2px;
                color: #fff;
            }
        }
        &.-web{
            color: #fff;
            background-color: #C4A464;
            .el__icon{
                font-size: 27px;
                color: #fff;
            }
        }
        &.-map{
            width: 60px;
            font-size: 10px;
            font-weight: 500;
            .el__icon{
                font-size: 24px;
            }
        }
        &.-menu{
            width: 60px;
            font-size: 10px;
            font-weight: 500;
            .el__icon{
                font-size: 30px;
                width: 28px;
                margin: 3px auto 10px;
            }
        }
    }
    a{
        color: #524945;
    }
    @media ( max-width: 991px ) {
        display: block;
    }
}