@keyframes stuckMoveDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}
@keyframes stuckMoveUp{
    0%{transform:translateY(100%)}
    100%{transform:translateY(0)}
}
@keyframes stuckFadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 99;
    transition: all .5s;
    &.is-sticky{
        position: fixed;
        background-color: rgba(171, 141, 81, .6);
        box-shadow: 0px 2px 5px #ccc;
        // animation: stuckMoveDown .6s!important;
    }
    &__right{
        min-width: 240px;
        margin-left: 30px;
    }
    &__hotline{
        font-family: 'EB Garamond';
        color: #fff;
        font-size: 33px;
        margin-bottom: 5px;
        line-height: 1;
        letter-spacing: 1px;
        text-shadow: 0 0 5px rgba(0, 0, 0, .5);
        &:hover{
            color:#fff;
        }
    }
    &__btn{
        font-size: 16px;
        border: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        padding: 6px 25px 6px;
        display: inline-block;
        line-height: 1;
        font-family: 'Noto Serif JP', serif;
        text-shadow: 0 0 5px rgba(0, 0, 0, .5);
        &:hover{
            color: #fff;
            background: #524945;
            border-color: #524945;
        }
    }
    &__mb{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        display: none;
        text-align: center;
        padding: 0 0;
        background-color: rgba(220, 208, 196, .5);
        transition: top 0.3s;
        img{
            max-width: 80%;
            max-height: 60px;
        }
        &.is-sticky{
            // animation: stuckMoveDown .6s!important;
        }
        &.hide{
            top: -56px;
        }
    }
    @media ( max-width: 1299px ) {
        padding: 10px 0;
    }
    @media ( max-width: 991px ) {
        display: none;
        &__mb{
            display: block;
        }
    }
}

